In [1]:
import numpy as np
import pandas as pd
import cv2

In [213]:
df = pd.read_csv(r"C:\Users\shrav\Documents\PYTHON\EDA projects\Trips_after_cleaning.csv")

In [214]:
df.drop(["Unnamed: 0","Package_Type", "Destination_Cities", "Included_Activities", "Original_Price_INR","Duration_Nights"], axis = 1, inplace = True)

In [215]:
df.rename(columns = {"Starting_Location":"Trip_city"},inplace = True)

In [216]:
city_code, city_name = pd.factorize(df['Trip_city'])

In [217]:
city_df = pd.DataFrame({'Trip_city': df["Trip_city"], 'City_Code': city_code})

In [218]:
df = pd.concat([df,city_df["City_Code"]],axis = 1)

In [219]:
df = df.drop("Trip_city", axis = 1)

In [220]:
df.describe()

,Duration_Days,Destination_Cities_Count,Hotel_Ratings,Deal_Price_INR,Discount_Percentage,City_Code
count,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000
mean,4.724571,2.142857,2.955429,20731.314286,9.514286,23.578286
std,2.091888,1.372808,0.594850,15389.574464,3.260360,22.974750
min,2.000000,1.000000,2.000000,2199.000000,1.000000,0.000000
25%,3.000000,1.000000,3.000000,11407.000000,8.000000,6.000000
50%,4.000000,2.000000,3.000000,16000.000000,9.000000,15.000000
75%,6.000000,3.000000,3.000000,24999.000000,9.000000,34.000000
max,13.000000,8.000000,5.000000,168000.000000,39.000000,99.000000

In [221]:
df["Deal_Price_INR"].describe()

count       875.000000
mean      20731.314286
std       15389.574464
min        2199.000000
25%       11407.000000
50%       16000.000000
75%       24999.000000
max      168000.000000
Name: Deal_Price_INR, dtype: float64

In [222]:
def categorize_price(price):
    if price < 10000:
        return 'Low Cost'
    elif 10000 <= price < 20000:
        return 'Mid-range'
    elif 20000 <= price < 35000:
        return 'Heigh-range'
    elif 35000 <= price < 50000:
        return 'Premium'
    else:
        return 'Luxury'
df['Price_Category'] = df['Deal_Price_INR'].apply(categorize_price)
df.drop("Deal_Price_INR", axis = 1,inplace = True)

In [223]:
df["Price_Category"] = df["Price_Category"].replace({"Low Cost":1, "Mid-range": 2,"Heigh-range":3, "Premium":4,"Luxury":5})

In [224]:
df

,Duration_Days,Destination_Cities_Count,Hotel_Ratings,Discount_Percentage,City_Code,Price_Category
0,5,1,2,12,0,2
1,5,2,3,17,1,2
2,3,1,3,13,2,2
3,3,1,3,9,3,2
4,5,2,3,9,1,3
...,...,...,...,...,...,...
870,2,1,3,6,40,2
871,6,3,2,9,10,3
872,3,2,3,9,77,2
873,3,1,3,9,32,2
874,6,4,3,12,5,2

In [225]:
X = df.drop("Price_Category", axis = 1)
y = df["Price_Category"]

In [226]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 23)

In [227]:
from sklearn.metrics import accuracy_score

# KNN

In [228]:
X_train = np.ascontiguousarray(np.array(X_train))
X_test = np.ascontiguousarray(np.array(X_test))

In [229]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test,y_pred)

0.5885714285714285

# LogisticRegression

In [230]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train,y_train)
y_pred = log.predict(X_test)
accuracy_score(y_test,y_pred)

C:\Users\shrav\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.5314285714285715

# naive_bayes

In [231]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,y_train)
y_pred = log.predict(X_test)
accuracy_score(y_test,y_pred)

0.5314285714285715

In [232]:
duration_days = int(input("Duration of Days"))
destination_cities_count = int(input("Number of Destination Cities"))
hotel_ratings = int(input("Hotel Ratings"))
discount_percentage = int(input("Discount Percentage"))
city_code = int(input("City Code"))
Price_Category = knn.predict([[duration_days,destination_cities_count,hotel_ratings ,discount_percentage,city_code ]])
print("The predicted Price is",Price_Category)

Duration of Days

ValueError: invalid literal for int() with base 10: ''

In [199]:
import pickle

In [203]:
pickle.dump(knn,open("Trip_Price.pkl","wb"))

In [205]:
model = pickle.load(open("Trip_Price.pkl","rb"))

In [206]:
model

KNeighborsClassifier()